---
import BaseLayout from '../layouts/Layout.astro';
import ReviewsList from '../components/elements/ReviewsList.astro';
import YandexReviews from '../components/elements/YandexReviews.vue';
import ReviewsPhoto from '../components/elements/ReviewsPhoto.astro';
---

<BaseLayout title="Отзывы">
  <div class="container !mt-12">
    <h2 class="section__title !mb-12">Отзывы наших клиентов</h2>
    <ReviewsList/>
    <ReviewsPhoto/>
    <YandexReviews/>
  </div>
</BaseLayout>
